canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    top:  150px; 
    left: 550px;
    position: absolute;
}

#h1 {
  text-align: center; 
  
}

#div {
  top:  450px; 
  left: 550px;
  position: absolute;
}

#body {
  background: #eee; 
}